.contact-main-container {
  width: 100%;
  min-height: 700px;
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-wrapper {
    width: 100%;
    filter: drop-shadow(
      0 10px 20px rgba($color: darken($primary, 20%), $alpha: 0.6)
    );

    .header {
      width: 100%;
      padding-top: 80px;
      color: $white;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 80px;
      background-color: $primary;
      height: 400px;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 69% 100%, 13% 90%, 0 48%);
      // box-shadow:  !important;
      h1 {
        line-height: 1;
        font-size: 45px;
        margin-bottom: 0;
      }
      p {
        width: 70%;
        font-size: 18px;
      }
    }
    @include queries($mobile) {
      .header {
        padding-bottom: 100px;
        padding-top: 50px;
        h1 {
          font-size: 30px !important;
        }
        p {
        }
      }
    }
  }
  .contact-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-grid-wrapper {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      transform: translateY(-280px);
      .contact-item {
        padding-bottom: 50px;
        width: 100%;
        min-height: 500px;
        background-color: $white;
        box-shadow: 0 0 30px 20px rgba($color: lighten($dark, 20%), $alpha: 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          padding: 0 30px;
          text-align: center;
          margin-top: 20px;
          color: lighten($dark, 30%);
        }
        .icon-wrapper {
          padding-top: 50px;
          margin-bottom: 20px;

          .list-icon-contact {
            font-size: 90px;
            color: $primary;
          }
        }
        h1 {
          margin: 0;
          font-size: 25px;
          text-align: center;
        }
        .list {
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          text-align: center;
          .item {
            display: flex;
            text-align: left;
            margin: 10px 0;
            .icon {
              display: flex;
              margin-right: 10px;
              justify-content: center;
              .list-icon-contact {
                color: $primary;
              }
            }
            p {
              margin: 0;
              color: lighten($dark, 30%);
            }
          }
        }
      }
      @include queries($tablet) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
.contact-input-main-container {
  width: 100%;
  min-height: 850px;
  background-color: $white-secondary;
  display: grid;
  grid-template-columns: 55% 45%;
  .inputs-wrapper {
    padding: 30px 0;
    padding-bottom: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .header {
      margin-bottom: 30px;
      h1 {
        color: $primary;
        text-transform: uppercase;
      }
    }
    .many {
      display: flex;
      width: 100%;
      height: auto;
      div {
        flex: 1;
        .error-maessage-container {
          width: 100%;
          padding-left: 20px;
        }
      }
      @include queries($mobile) {
        flex-direction: column;
      }
    }
    .input-text-main-container {
      width: 100%;
      .input {
        margin: 10px 20px;
        background-color: $white;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        border: 1px solid transparent;
        border-left: 4px solid $primary;
        transition: $transition;
        &:focus-within {
          border: 1px solid $primary;
          border-left: 4px solid $primary;
        }
        input {
          outline: none;
          border: none;
          flex: 1;
          font-size: 16px;
          &:focus {
          }
        }
      }
    }
  }
  .contact-image-wrapper-input {
    flex: 1;
    height: 100%;
    background-image: url("../images/projects/download-9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $primary, $alpha: 0.5);
      top: 0;
      left: 0;
    }
  }
  @include queries($tablet) {
    grid-template-columns: 100%;
    .contact-image-wrapper-input {
      height: 400px;
      margin-top: 80px;
    }
  }
}
.textarea-container {
  width: 100%;
  display: flex;
  textarea {
    flex: 1;
    margin: 10px 20px;
    background-color: $white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    border: 1px solid transparent;
    border-left: 4px solid $primary;
    transition: $transition;
    outline: none;
    font-family: $main-font-family;
    font-size: 16px;
    color: lighten($dark, 50%);
    min-width: none;
    min-height: 200px;
    max-height: 200px;
    &:focus-within {
      border: 1px solid $primary;
      border-left: 4px solid $primary;
    }
    &::placeholder {
      color: lighten($dark, 70%);
      font-weight: 400;
    }
  }
}
.contact-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  .send-btn {
    background-color: $primary;
    color: $white;
    padding: 20px 60px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 30px rgba($color: darken($white, 70%), $alpha: 0.5);
    transition: $transition;
    &:hover {
      background-color: lighten($primary, 5%);
    }
    @include queries($mobile) {
      margin-top: 30px;
    }
  }
}
.error-maessage-container {
  width: 100%;
  padding-left: 45px;
  span {
    color: $primary;
    font-size: 14px;
  }
}

.contact-information-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10%;
  padding-bottom: 5rem;

  p {
    display: flex;
    align-items: center;

    .contact-icon-email {
      font-size: 2rem;
      color: $primary;
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: #000;
      transition: all 0.4s ease;
      &:hover {
        color: $primary;
      }
    }
  }

  .tel-info {
    display: flex;
    align-items: flex-start;
    .title {
      margin-bottom: 0;
      margin-top: 1rem;
      margin-right: 1rem;
      .contact-icon-email {
        font-size: 2rem;
        color: $primary;
      }
    }
  }

  @include queries($mobile) {
    .contact-information-wrapper {
      background-color: blue;
      .tel-info {
        justify-content: center;
      }
    }
  }
}
