.projects-main-container {
  width: 100%;
  min-height: 700px;
  background-color: $white;
  padding-top: 50px;
  position: relative;
  z-index: 999;
  .projects-header-container {
    z-index: 999;
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .image-container-main {
      z-index: 999;

      width: 100%;
      height: 650px;
      .image-wrapper {
        z-index: 999;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 60px;
        overflow: hidden;
        box-shadow: 0 0 60px rgba($color: darken($white, 60%), $alpha: 0.6);
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .text-content {
      z-index: 999;

      display: flex;
      flex-direction: column;
      padding: 0 50px;
      padding-top: 70px;
      h1 {
        font-size: 50px;
        color: $dark;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 40px;
        margin: 5px 0;
        color: $primary;
        &:nth-child(3) {
          color: $secondary;
        }
      }
      p {
        font-size: 20px;
        line-height: 1.4;
        color: lighten($dark, 20%);
      }
    }
    @include queries($tablet) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      background-image: url("../images/projects/img2.jpg");
      padding-bottom: 80px;
      color: $white;
      .image-container-main {
        grid-area: "image";
        display: none;
      }
      .image-wrapper {
        transform: translateX(50px);
      }
      .text-content {
        h1 {
          color: $white;
        }
        h3 {
          color: $white;
          &:nth-child(3) {
            color: $white;
          }
        }
        p {
          color: lighten($white, 20%);
        }
      }
    }
    @include queries($tablet) {
      padding-top: 0;
      .text-content {
        padding-left: 30px;
      }
    }
  }
  .divider-main-area {
    width: 100%;
    height: 70px;
    display: flex;
    .divider-left {
      flex: 1;
      border-top-right-radius: 70px;
      background-color: $primary;
    }
    .divider-right {
      flex: 1;
      border-top-left-radius: 70px;
      background-color: $primary;
    }
  }
  .btns-wrapper {
    display: flex;
    margin-top: 40px;
    .btn-left {
      background-color: $primary;
      padding: 15px 60px;
      color: $white;
      font-size: 18px;
      border-radius: 50px;
      cursor: pointer;
      transition: $transition;
      &:hover {
        background-color: lighten($primary, 10%);
      }
    }
  }
  .projects-wrapper {
    width: 100%;
    display: flex;
    padding-top: 300px;
    padding-bottom: 100px;
    .images-wrapper {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image-wrapper {
        margin-top: -70px;
        margin-left: -105px;
        width: 80%;
        box-shadow: 6px 1px 18px 6px
          rgba($color: darken($white, 20%), $alpha: 0.5);
        transform: rotate(-180deg);
        min-height: 1000px;
        // overflow: hidden;
        // border-top-left-radius: 20px;
        // border-bottom-left-radius: 20px;

        img {
          width: 100%;
          transform: rotate(180deg);
          height: 250px;
          margin-top: -5px;
          transition: $transition;
          &:hover {
            transform: rotate(180deg) scale(1.1);
            z-index: 99;
            box-shadow: 6px 1px 18px 6px
              rgba($color: darken($white, 20%), $alpha: 0.5);
          }
        }
      }
    }
    .projects {
      flex: 1;
      padding-right: 50px;
    }
    .project-item {
      z-index: 999 !important;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 50px;
      background-color: transparent;
      .project-details {
        z-index: 999;
        background-color: $white;
        display: flex;
        .project--number {
          width: 60px;
          height: 60px;
          border-radius: 20px;
          background-color: #f1b814;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          margin-right: 50px;
          box-shadow: 0 0 20px rgba($color: darken(#f1b814, 20%), $alpha: 0.5);
          span {
            font-size: 25px;
            font-weight: bold;
          }
          &.two {
            background-color: $primary;
            box-shadow: 0 0 20px
              rgba($color: darken($primary, 20%), $alpha: 0.5);
          }
          &.third {
            background-color: $secondary;
            box-shadow: 0 0 20px
              rgba($color: darken($secondary, 20%), $alpha: 0.5);
          }
        }
        .project-text {
          flex: 1;
          // background-color: #f1b814;
          padding: 15px 20px;
          border-radius: 15px;
          box-shadow: 0 -10px 34px 0 rgba($color: darken($white, 40%), $alpha:
                0.3);
          .text-item {
            display: flex;
            margin-bottom: 15px;
            .icon-wrapper {
              margin-right: 15px;
              .project-check-icon {
                color: $primary;
                font-size: 18px;
              }
            }
            .content {
              color: lighten($dark, 40%);
              line-height: 1.4;
              margin-top: 0;
            }
          }
        }
      }
    }

    @include queries($tablet) {
      padding-top: 100px;
      .images-wrapper {
        transform: translateX(-50px);
      }
      .projects {
        margin-left: -100px;
        flex: 1;
        padding-right: 20px;
        .project-item {
          .project-details {
            .project--number {
              margin-right: 10px;
              width: 40px;
              height: 40px;
              border-radius: 10px;
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .overlay-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 30%;
    right: 0;
    border-radius: 50%;
    background-color: rgba($color: $primary, $alpha: 0.1);
    z-index: 1;
    &.c--1 {
      background-color: rgba($color: #f1b814, $alpha: 0.1);
      left: 20%;
      top: 50%;
      width: 200px;
      height: 200px;
      display: none;
    }
    &.c--2 {
      background-color: rgba($color: $secondary, $alpha: 0.1);
      top: 70%;
      right: 10%;
      width: 300px;
      height: 300px;
    }
  }
  @include queries($tablet) {
    padding-top: 0;
  }
}
